<!-- Footer -->
<footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted text-muted">
  <p class="h5 mb-0 ml-auto">
    &copy; 2019 <a class="link-muted" href="https://htmlstream.com/" target="_blank">Saint Bernard</a>. All Rights Reserved.
  </p>
</footer>
<!-- End Footer -->