<!-- Header (Topbar) -->
<header class="u-header">
  <div class="u-header-left">
    <%= link_to root_path, class: "u-header-logo u-header-logo h1 m-0 text-primary" do %>
     Saint Bernard
    <% end %>
  </div>
  <div class="u-header-right">
    <%= link_to root_path, class: "m-0 text-primary" do %>
        <i class="fas fa-long-arrow-alt-left"></i> Back
    <% end %>
  </div>
</header>
