<!-- Sidebar -->
<aside id="sidebar" class="u-sidebar">
  <div class="u-sidebar-inner">
    <header class="u-sidebar-header">
      <%= link_to root_path(locale: I18n.locale), class: "u-sidebar-logo u-header-logo h1 m-0 text-primary" do %>
          CMS Builder
      <% end %>
    </header>
    <nav class="u-sidebar-nav">
      <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level side-bar" >
        <!-- Dashboard -->
        <li class="u-sidebar-nav-menu__item">
          <%= link_to admissions_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas"></i>
              <i class="fas  fa-user-plus u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Admission
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to patients_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas fa-user-injured u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Patient
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to diagnoses_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas fa-diagnoses u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  diagnosis
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to diagnostic_procedures_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas fa-diagnoses u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Diagnostic Procedure
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to order_frequencies_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas fa-sort u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Order Frequency
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to treatments_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas fa-plus u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Treatment
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to medication_orders_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas fa-prescription u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Medication Order
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to allergies_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas fa-allergies u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Allergy
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to observations_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fas fa-microscope u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Observation
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to symptoms_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Symptom
              </span>
          <%end%>
        </li>
        <li class="u-sidebar-nav-menu__item">
          <%= link_to facilities_path, class:"u-sidebar-nav-menu__link"  do%>
              <i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
              <span class="u-sidebar-nav-menu__item-title">
                  Facility
              </span>
          <%end%>
        </li>
        <!-- End Dashboard -->
      </ul>
    </nav>
  </div>
</aside>
<!-- End Sidebar -->