<%= form_with(model: facility, local: true) do |form| %>

    <div class="col-md-6 mb-4">
      <div class="card">
        <header class="card-header">
          <h2 class="h3 card-header-title"> Facility
            <%= link_to 'Back', facilities_path,class: "float-right" %>
          </h2>
        </header>

        <div class="card-body">
          <% if facility.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(facility.errors.count, "error") %> prohibited this facility from being saved:</h2>
                <ul>
                  <% facility.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group mb-4">
            <%= form.label :name %>
            <%= form.text_field :name, id: :facility_name, class:"form-control" %>
          </div>
          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
