<p id="notice"><%= notice %></p>
<div class="card mb-4">
  <header class="card-header">
    <h2 class="h3 card-header-title">Diagnostic Procedures <%= link_to 'New diagnostic procedure', new_diagnostic_procedure_path, class: "btn btn-sm btn-primary float-right" %></h2>
  </header>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
      <thead>
      <tr>
        <th>Description</th>
        <th>Moment</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @diagnostic_procedures.each do |diagnostic_procedure| %>
          <tr>
            <td><%= diagnostic_procedure.description %></td>
            <td><%= diagnostic_procedure.moment %></td>
            <td><%= link_to 'Edit', edit_diagnostic_procedure_path(diagnostic_procedure) %></td>
            <td><%= link_to 'Destroy', diagnostic_procedure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>





